APP_NAME=Codon

MONGO_ROOT_NAME=LOGIN
MONGO_ROOT_PWD=PASSWORD
MONGODB='mongodb://LOGIN:PASSWORD@mongo:27017/codon'
MONGOEXPRESSLINK='mongodb://LOGIN:PASSWORD@mongo:27017/'

SQLLINK_USERS=mysql://LOGIN:PASSWORD@db-users/users
SQLLINK_USERS_DATA=mysql://LOGIN:PASSWORD@db-users/users_data
SQLLINK_CODON=mysql://LOGIN:PASSWORD@db/codon
SQLLINK_CODON_HEALTH=mysql://LOGIN:PASSWORD@db/codon_health

MYSQL_ROOT_PASSWORD=LOGIN
MYSQL_USERS_ROOT_PASSWORD=PASSWORD

SALT=EXAMPLE
SALT2=EXAMPLE

NODE_PORT=5000
GATEWAY_PORT=5000
USERS_PORT=8000
AUTH_PORT=3000

EMAIL_KEY=EXAMPLE
MAIL_URL=http://api.example.ru/email

WORKER_SLEEP_TIME=180